@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<h1>All Action Buttons</h1>

<a asp-action="SignIn" asp-controller="User"> SignIn </a>
<br />
<a asp-action="AllUserList" asp-controller="User"> Get All Users </a> 
<br />
<a asp-action="AllProductList" asp-controller="Product"> Get All Products </a>
<br />

<a asp-action="AllUserList" asp-controller="User"> Get All Users </a>
<br />
<a asp-action="AllUserList" asp-controller="User"> Get All Users </a>
